$Staatliches: 'Staatliches', cursive;
$Roboto: 'Roboto Condensed', sans-serif;

$blue: #00AFC4;
$white: #ffffff;
$black: #363535;
$grey: #757575;
$orange: #f16d5e;



.header{
    font-family: $Staatliches;
    background-color: $blue;
    height: 100%;
    padding-bottom: 4vh;
}

.header__icons{
    display: flex;
    justify-content: space-between;
}

.header__img i,
.footer__img i{
    text-decoration: none;
    color: $orange;
    transition: all 400ms ease;
}

.header__img i:hover,
.footer__img i:hover{
    transform: translateY(5px);
}

.header__contact{
    display: flex;
}

.header__title{
    color: $black;
    text-align: center;
    vertical-align: middle;
}

.header__contact--icon{
    margin: 3vh 1vh;
}

.container{
    background-color: $white;
    font-family: $Roboto;
    position: relative;
}

.container__loseGame{
    position: absolute;
    background-color: $blue;
    width: 40vh;
    height: auto;
    opacity: 0.9;

    top: 10vh;
    left: calc(50% - 20vh);
    z-index: -1;//zmiana w app.js
}

.container__loseGame--comment{
    font-size: 4vh;
    text-align: center;
}

.container__loseGame--button{
    display: flex;
    justify-content: space-evenly;
    margin: 5vh;
}

.container__button--outcomes,
.container__button--restart{
    margin: auto;
    font-size: 3.5vh;
    color: $black;
    background-color: $orange;
    border: 2px solid $black;
    cursor: pointer;
    transition: all 400ms ease;
}

.container__button--outcomes a,
.container__button--restart a{
    text-decoration: none;
}

.container__button--outcomes a:visited,
.container__button--restart a:visited{
    color: inherit;
}

.container__button--outcomes:hover,
.container__button--restart:hover{
    transform: translateY(5px);
}

.container__image{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.container__image1 i,
.container__image2 i,
.container__image3 i{
    margin: 2vh;
    color: $black;
    cursor: pointer;
    transition: all 400ms ease;
}

.container__image1 i:hover,
.container__image2 i:hover,
.container__image3 i:hover{
    transform: scale(1.1);
}

.container__outcome{
    font-size: 6vh;
}

.container__players{
    display: flex;
    justify-content: center;
}

.container__player--player,
.container__player--ai{
    margin: 0;
}

.container__points--dots{
    margin: 1vh 0;
}

.container__points--player{
    margin: 1vh 3vh;
}

.container__points{
    display: flex;
    justify-content: center;
}

.container__comment{
    padding: 1vh;
    margin: 1vh;
    background-color: $grey;
}

.container__comment--bar,
.container__comment--comment{
    margin: 0.5vh 0;
}

.footer{
    display: flex;
    justify-content: space-between;
    background-color: $blue;
    margin-top: 1vh;
    height: 10vh;
}

.footer__title{
    text-align: center;
    vertical-align: middle;
    font-family: $Roboto;
    font-size: 2vh;
    color: $black;
    margin: auto 1vh;
}

.footer__contact{
    display: flex;
    align-items: center;
}

.footer__contact--icon{
    margin: 0 1vh;
}