.header {
  font-family: "Staatliches", cursive;
  background-color: #00AFC4;
  height: 100%;
  padding-bottom: 4vh;
}

.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__img i,
.footer__img i {
  text-decoration: none;
  color: #f16d5e;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.header__img i:hover,
.footer__img i:hover {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__title {
  color: #363535;
  text-align: center;
  vertical-align: middle;
}

.header__contact--icon {
  margin: 3vh 1vh;
}

.container {
  background-color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  position: relative;
}

.container__loseGame {
  position: absolute;
  background-color: #00AFC4;
  width: 40vh;
  height: auto;
  opacity: 0.9;
  top: 10vh;
  left: calc(50% - 20vh);
  z-index: -1;
}

.pop-up {
  top: -400px;
  -webkit-animation: drop 1s ease forwards;
          animation: drop 1s ease forwards;
}

@-webkit-keyframes drop {
  0% {
    opacity: 0;
  }
  70% {
    -webkit-transform: translateY(600px);
            transform: translateY(600px);
  }
  100% {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
    opacity: 1;
  }
}

@keyframes drop {
  0% {
    opacity: 0;
  }
  70% {
    -webkit-transform: translateY(600px);
            transform: translateY(600px);
  }
  100% {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
    opacity: 1;
  }
}

.pop-down {
  -webkit-animation: up 1s ease forwards;
          animation: up 1s ease forwards;
}

@-webkit-keyframes up {
  0% {
    opacity: 1;
  }
  99% {
    -webkit-transform: translateY(600px);
            transform: translateY(600px);
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}

@keyframes up {
  0% {
    opacity: 1;
  }
  99% {
    -webkit-transform: translateY(600px);
            transform: translateY(600px);
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}

.container__loseGame--comment {
  font-size: 4vh;
  text-align: center;
}

.container__loseGame--button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 5vh;
}

.container__button--outcomes,
.container__button--restart {
  margin: auto;
  font-size: 3.5vh;
  color: #363535;
  background-color: #f16d5e;
  border: 2px solid #363535;
  cursor: pointer;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.container__button--outcomes a,
.container__button--restart a {
  text-decoration: none;
}

.container__button--outcomes a:visited,
.container__button--restart a:visited {
  color: inherit;
}

.container__button--outcomes:hover,
.container__button--restart:hover {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.container__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__image1 i,
.container__image2 i,
.container__image3 i {
  margin: 2vh;
  color: #363535;
  cursor: pointer;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.container__image1 i:hover,
.container__image2 i:hover,
.container__image3 i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.container__outcome {
  font-size: 6vh;
}

.container__players {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__player--player,
.container__player--ai {
  margin: 0;
}

.container__points--dots {
  margin: 1vh 0;
}

.container__points--player {
  margin: 1vh 3vh;
}

.container__points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__comment {
  padding: 1vh;
  margin: 1vh;
  background-color: #757575;
}

.container__comment--bar,
.container__comment--comment {
  margin: 0.5vh 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #00AFC4;
  margin-top: 1vh;
  height: 10vh;
}

.footer__title {
  text-align: center;
  vertical-align: middle;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2vh;
  color: #363535;
  margin: auto 1vh;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contact--icon {
  margin: 0 1vh;
}
/*# sourceMappingURL=style.css.map */